/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu-container {
		display: none;
	}
	.header-phone__link {
		color: #1755bb;

	}
	.header-phone__link:hover {
		color: #1755bb;
	}
	.top-banner {
		height: 482px;
		background: url(../img/top-banner-1280.png);
		background-size: cover;
		padding: 32px 0 0 18px;
	}
	.contacts-container {
		width:710px;
	}
	.contacts-wrapper {
		float: none;
		margin:20px auto !important;
	}
	.projects-container {
		overflow:hidden;
		width:608px;
		margin:0 auto;
		padding: 40px 20px 30px 20px;

		text-align: center;
	}
	.projects-item {
		width:568px;
		margin-bottom:20px;

		border-radius: 5px;
		box-shadow: 0px 1px 0px 0px #d3d3d3;
	}
	.projects-img {
		height:337px;
		object-fit: cover;
		width: 568px;
	}
	.project__slide__img {
		width:566px;
		height:500px;
	}
	.project-slider {
		width:586px;
		height:500px;
	}
	.header-logo {
		height: 100%;
		width: 125px;
		float: left;
		background: url(../img/header-logo.png) no-repeat;
		background-size: contain;
		background-position: center;
	}
	.project-text-description {
		width:707px;
		margin-top:55px;
	}
	.project-text-description__text {
		float: left;
		width: 516px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.top-banner {
		padding: 32px 0 0 6px;
	}
	.prices-wrapper {
		width: 348px;
		margin:0 auto;
	}
	.prices-item {
		width: 348px;
		height: 400px;
		margin:0 auto;
		margin-bottom: 20px;

		padding: 250px 0 0 0;

		border-radius: 5px;
		box-shadow: 0px 1px 0px 0px #d3d3d3;

		text-align: center;
	}

	.price-descr {
		width: 238px;
		margin: 0 auto;
	}
	.production-slider__slide {
		width:360px;
		height:347px;
	}
	.production-slider__slide__img {
		width:348px;
		height:347px;
		margin:0 auto;
		overflow: hidden;
		background-repeat: no-repeat !important;
		background-size:cover !important;
	}
	.production-slider {
		width:360px;
		margin:0 auto;
	}
	.project__slide__img {
		width:348px;
		height:347px;
	}
	.project-slider {
		width:360px;
		height:347px;
	}
	.contacts-container {
		width:343px;
		padding: 0;
	}
	.contacts-wrapper:nth-child(3n + 1) {
		margin-left:0px;
	}
	.contacts-wrapper:nth-child(2n + 1) {
		margin-left:0;
	}
	.contacts-wrapper {
		float:none;
		margin-left:0px;
	}
	.slick-prev
	{
		left: 0px;
	}
	.slick-next
	{
		right: 0px;
	}
	.slick-dots {
		position: absolute;
		bottom: -39px;

		display: block;

		width: 100%;
		padding: 0;
		margin: 0;

		list-style: none;

		text-align: center;
	}
	.slick-slider {
		position: relative;
	}

	.projects-container {
		overflow:hidden;
		width:348px;
		margin:0 auto;
		padding: 40px 0px 30px 0px;

		text-align: center;
	}
	.projects-item {
		width:348px;
		margin:0px;
		margin-bottom:20px;
	}
	.projects-img {
		height:337px;
		object-fit: cover;
		width: 348px;
	}
	.top-banner__text {
		font-size: 50px;
		line-height: 50px;
	}
	.project-slider .slick-dots {
		display:none !important;
	}
	.project-text-description {
		width:348px;
		margin-top:21px;
	}
	.project-text-description__text {
		width:348px;
		margin-bottom: 24px;
	}
	.project-text-special {
		float: none;
	}
	.project-text-description__button-mobile {
		display: block;
		height: 61px;
		width:348px;

		color: #575757;
		background-color: white;
		border-radius: 5px;
		border: none;
		box-shadow: 0px 1px 0px 0px #d3d3d3;
	}



	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	body {

	}

}
@media only screen and (max-width : 360px) {
	.header-phone__link {
		font-size: 28px;
	}

	.top-banner {
		padding: 32px 0 0 12px;
	}

	.prices-wrapper {
		width: 300px;
		margin: 0 auto;
	}

	.prices-item {
		width: 300px;
		padding: 250px 10px 0 10px;
	}

	.prices-text {
		font-size: 18px;
		padding-top: 25px;
	}

	.price-descr {
		width: 238px;
		margin: 0 auto;
	}

	.production-slider__slide {
		width: 320px;
		height: 316px;
	}

	.production-slider__slide__img {
		width: 320px;
		height: 316px;
		margin: 0 auto;
		overflow: hidden;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}

	.production-slider {
		width: 320px;
		margin: 0 auto;
	}

	.project__slide__img {
		width: 320px;
		height: 316px;
	}

	.project-slider {
		width: 320px;
		height: 316px;
	}

	.contacts-container {
		width: 320px;
		padding: 0;
	}

	.contacts-wrapper:nth-child(3n + 1) {
		margin-left: 0px;
	}

	.contacts-wrapper:nth-child(2n + 1) {
		margin-left: 0;
	}

	.contacts-wrapper {
		float: none;
		margin-left: 0px;
		width: 320px;
	}

	.contacts-item {
		width: 320px;
	}

	.slick-prev, .slick-next {
		top: calc(50% - 41px) !important;
	}

	.slick-prev {
		left: 0px;
	}

	.slick-next {
		right: 0px;
	}

	.slick-slider {
		position: relative;
	}

	.projects-container {
		overflow: hidden;
		width: 348px;
		margin: 0 auto;
		padding: 40px 0px 30px 0px;

		text-align: center;
	}

	.projects-item {
		width: 348px;
		margin: 0px;
		margin-bottom: 20px;
	}

	.projects-img {
		height: 337px;
		object-fit: cover;
		width: 348px;
	}

	.project-text-description {
		width: 298px;
	}

	.project-text-description__text {
		width: 298px;
		margin-bottom: 24px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	 .top-banner__text {
		font-size:50px;
		line-height:50px;
	}
	.projects-container {
		overflow:hidden;
		width:320px;
		margin:0 auto;
		padding: 40px 0px 30px 0px;

		text-align: center;
	}
	.projects-item {
		width:320px;
		margin:0;
		margin-bottom:20px;
	}
	.projects-img {
		height:337px;
		object-fit: cover;
		width: 320px;
	}
	.projects-descr {
		padding:0 17px 0 17px;
	}
	.project-text-special {
		width:320px;
		margin-right:0;
		height:95px;
		padding:0px 0 29px 20px;

	}
	.project-text-special span {
		display: block;
		float: left;
		margin-top:28px;
	}
	.project-text-special p {
		float: left;
		margin-top: 5px;
		margin-left: 50px;
	}

}



/* Media :: Mobile First Method
*************************************************/
.dg-w{min-width:320px}/* body{min-w:320px}*/
.dg-ww{font-size:inherit;padding-left:6px;padding-right:6px;min-width:320px}
.dg-ww.frt-ww--cards{margin:0 auto;padding:10px 10px 20px;width:100%}
.frt-card{margin:10px auto}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* • Fortunum SM */
@media only screen and (min-width : 360px) {
	.frt-card{width:345px}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.frt-section-works .dg-ww.frt-ww--cards>.dg-list,/* TODO: derfex- */
	.frt-section-works .dg-ww.frt-ww--cards>.dg-set{margin-left:-10px;margin-right:-10px}
	.frt-card{margin:10px}
}

/* • Fortunum MD */
@media only screen and (min-width : 750px) {
	.dg-ww{padding-left:20px;padding-right:20px}
	.dg-ww.frt-ww--cards{width:730px}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* • Fortunum LG */
@media only screen and (min-width : 1280px) {
	.dg-ww{padding-left:0;padding-right:0;width:1200px;margin-left:auto;margin-right:auto}
	.dg-ww.frt-ww--cards{width:1090px}
	.frt-card{width:525px}
}
