.frt-nav-mobile-panel{position:fixed;left:0;right:0;bottom:0;min-width:360px;background:#fff}
.frt-nav-mobile-panel,.frt-nav-mobile-panel-substratum{height:80px}

.frt-nav-mobile-panel{border-top:5px solid #9d9d9d}/* TODO: derfex- */




.frt-nav-mobile-panel .dg-list.dg-list--flexbox .frt-nav-mobile-panel__button{flex:1 auto;}
.frt-nav-mobile-panel .dg-list.dg-list--flexbox .frt-nav-mobile-panel__button-menu{flex: 0 auto;width:80px}
.frt-nav-mobile-panel__button{position:relative;height:100%}
.frt-nav-mobile-panel__button .dg-button{border:1px solid #e6e6e6;padding:10px}



#frt-nav-mobile-menu__switch        +.frt-nav-mobile-menu{display:none}
#frt-nav-mobile-menu__switch:checked+.frt-nav-mobile-menu{display:block}
.frt-nav-mobile-menu{position:fixed;top:0;right:0;bottom:80px}



/* Media :: Mobile First Method
*************************************************/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* • Fortunum SM */
@media only screen and (min-width : 360px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* • Fortunum MD */
@media only screen and (min-width : 750px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* • Fortunum LG */
@media only screen and (min-width : 1280px) {

}
